img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbarul {
  display: flex;
  gap: 40px;
}
.nav {
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logostudio {
  color: #2e2f42;
}
.adres {
  font-style: normal;
}
.adreslist {
  display: flex;
  gap: 40px;
}
.sectionone {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.baslikone {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.sectiontwo {
  padding: 120px 0;
}
.visually-hidden {
  display: none;
}
.sectiontwoul {
  display: flex;
  gap: 24px;
}
.sectiontwoli {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.sectiontwodiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.missionone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.missiontwo {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 120px 0;
}
.sectionthree {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.sectionthreeone {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.sectionthreeul {
  display: flex;
  gap: 24px;
}
.sociallist {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socialone {
  width: 40px;
  height: 40px;
}
.socialtwo {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a:hover {
  background-color: #404bbf;
}
.a:focus {
  background-color: #404bbf;
}

.socialfour {
  fill: #f4f4fd;
}
.teamone {
  background-color: #ffffff;
  width: calc ((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.mark {
  padding: 32px 0;
}
.teamone:hover .mark {
  padding: 32px 0;
}
.teamone:hover .teamthree {
  transform: translateY(0%);
}
.teamtwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.teamthree {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.teamfour {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.teamfive {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.teamsix {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0 0.2, 1);
}
.teamsix:focus {
  background-color: #404bbf;
}
.teamsix:hover {
  background-color: #404bbf;
}

.teamseven {
  fill: #f4f4fd;
}
.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfoliotwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfoliothree {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style-type: none;
}
.sectionfour {
  padding: 120px 0;
}
.sectionfourul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.four_li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four_li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.four_li:hover .four_li_p {
  transform: translateY(0%);
}
.four_li_img {
  position: relative;
  overflow: hidden;
}
.four_li_p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bank {
  padding: 32px 16px;
  border-top: none;
  margin-bottom: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.logoone {
  display: inline-block;
  margin-bottom: 16px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footertwo {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.logostudioone {
  color: #f4f4fd;
  color: black;
}
.footer {
  align-items: baseline;
}
.footer .container {
  margin-right: 120px;
}
