img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.divone {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logostudio {
  color: #2e2f42;
}
.adres {
  font-style: normal;
}

.sectionone {
  background-color: #2e2f42;
}
.baslikone {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

.missionone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.missiontwo {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.sectionthree {
  background-color: #f4f4fd;
}
.sectionthreeone {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.teamone {
  background-color: #ffffff;
}
.teamtwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.teamthree {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfoliotwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfoliothree {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footertwo {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.logostudioone {
  color: #f4f4fd;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style-type: none;
}
